# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IntelliJ Settings Directories
.idea/

# CMake Build Results
cmake-build-debug/
cmake-build-relese/

# Python cache
__pycache__/

# ModelSim output
*.wlf
work/ # default name for library (may remove if necessary)
